{{#extends "base"}}

{{#block "content"}}
<form method="POST">
    <div>
        <label>Food Name:</label>
        <input type="text" class="form-control" name="foodName" id="foodName" value="{{foodRecord.foodName}}"/>
    </div>

    <div>
        <label>Calories:</label>
        <input type="text" class="form-control" name="calories" value="{{foodRecord.calories}}"/>
    </div>

    <div>
        <label>Meal:</label>
        <input type="radio" class="form-check-input" name="meal" value="breakfast" {{#eq foodRecord.meal "breakfast"}}checked{{/eq}}/>
        <label>Breakfast</label>

        <input type="radio" class="form-check-input" name="meal" value="lunch" {{#eq foodRecord.meal "lunch"}}checked{{/eq}} />
        <label>Lunch</label>

        <input type="radio" class="form-check-input" name="meal" value="dinner"
            {{#eq foodRecord.meal "dinner"}}
            checked
            {{/eq}}
        />
        <label>Dinner</label>

    </div>

    <div>
        <label>Tags</label>
        <input type="checkbox" 
               class="form-check-input" 
               name="tags" 
               value="home-cooked"
               {{#inArray foodRecord.tags "home-cooked"}}checked{{/inArray}}
               />
        <label>Homecooked</label>

        <input type="checkbox" 
               class="form-check-input"
               name="tags" 
               value="organic"
               {{#inArray foodRecord.tags "organic"}}checked{{/inArray}}
               />
        <label>Organic</label>

        <input type="checkbox"
               class="form-check-input"
               name="tags" 
               value="vegan"
               {{#inArray foodRecord.tags "vegan"}}checked{{/inArray}}
               />
        <label>Vegan</label>

        <input type="checkbox"
               class="form-check-input"
               name="tags" 
               value="unhealthy"
               {{#inArray foodRecord.tags "unhealthy"}}checked{{/inArray}}
               />
        <label>Unhealthy</label>

         <input type="checkbox" 
                class="form-check-input"
                name="tags"
                value="gluten-free"
                {{#inArray foodRecord.tags "gluten-free"}}checked{{/inArray}}
                />
        <label>Unhealthy</label>

    </div>


    {{!-- The submit button allows us to submit a form to a server --}}
    <input type="submit" value="Update" class="btn btn-primary mt-3"/>
</form>
{{/block}}

{{/extends}}