{{#extends 'base'}}

{{#block "content"}}
<h1>Contact Us</h1>
<div>
    <label>Your feedback:</label>
    <textarea></textarea>
</div>
{{/block}}

{{#block "title"}}
Write in to us!
{{/block}}

{{#block "header-image"}}
apples.jpg
{{/block}}

{{/extends}}