{{!-- home.hbs is based on the 'base.hbs' 
All the content of 'home.hbs' is automatically copied
and pasted into here
--}}
{{#extends 'base'}}

{{#block "content"}}
        <h1>Home</h1>
        <p>Welcome to our Japanese Food website!</p>
{{/block}}

{{#block "title"}}
Welcome to our website!
{{/block}}

{{/extends}}