{{#extends 'base'}}

{{#block "content"}}
<h1>Your submission has been recorded</h1>

<ul>
    <li>Food Name: {{foodName}}</li>
    <li>Calories: {{calories}}</li>
    <li>Meal: {{meal}}</li>
    <li>Tags: {{tags}}</li>
</ul>
{{/block}}

{{/extends}}